<%= require('underscore-template!../shared/header.html')({htmlWebpackPlugin: htmlWebpackPlugin}) %>

  <head>
    <title>Home</title>
  </head>

  <div class="page-group">
    <div class="page page-current" id="menu">
      <header class="bar bar-nav">
        <h1 class="title">Home</h1>
      </header>

      <div class="content">
        <div class="content-padded">
          <p>Starter Project</p>
        </div>
      </div>
    </div>
  </div>

  <%= require('underscore-template!../shared/footer.html')({htmlWebpackPlugin: htmlWebpackPlugin}) %>
