$light: #f0f0f0;
$modal-header-color: $light;
$primary-color: #F74249;
$secondary-text: #8a8a8a;
$font-size-xs: 0.5rem;
$font-size-sm: 0.55rem;
$font-size-md: 0.6rem;
$font-size-lg: 0.65rem;
$font-size-xl: 0.75rem;
